@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sora:wght@600;700&display=swap");
::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  outline: 1px solid #FFFFFF15;
  border-radius: 14px; }

* {
  line-height: 1.2em !important; }

body {
  background: var(--bg);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: var(--ft); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Sora", sans-serif; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.btn {
  background: var(--bl);
  color: var(--w);
  font-size: 16px;
  font-weight: 500;
  padding: 14px 30px;
  border-radius: 8px;
  display: block;
  transition: all 0.5s ease;
  border: 1px solid var(--bl); }
  .btn:hover {
    transition: all 0.5s ease;
    background: var(--bl) !important;
    color: var(--w);
    -webkit-box-shadow: 0px 0px 24px 7px var(--bl);
    -moz-box-shadow: 0px 0px 24px 7px var(--bl);
    box-shadow: 0px 0px 24px 7px var(--bl); }

.section {
  display: grid;
  gap: 16px; }
  .section .section-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--bl); }
  .section .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section .section-inner .section-inner-title {
      font-size: 48px;
      font-weight: 600;
      color: var(--w); }
    .section .section-inner .section-inner-link {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: var(--ft-2);
      transition: all 0.5s ease;
      gap: 10px; }
      .section .section-inner .section-inner-link .section-inner-link__arrow {
        transition: all 0.5s ease; }
        .section .section-inner .section-inner-link .section-inner-link__arrow:hover {
          transform: translateX(15px);
          transition: all 0.5s ease; }
    .section .section-inner .section-inner-link:hover {
      opacity: 0.5;
      transition: all 0.5s ease; }
    .section .section-inner .section-inner-link:hover .section-inner-link__arrow {
      transform: translateX(15px);
      transition: all 0.5s ease;
      opacity: 0.5; }

/* HEADER */
.header {
  position: relative; }
  .header .header-elipse {
    position: absolute;
    background: rgba(120, 120, 120, 0.4);
    filter: blur(212px);
    top: -450px;
    left: -350px;
    width: 718px;
    height: 718px; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0; }
  .nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 249px; }
    .nav .nav-list .nav-list__item {
      padding-bottom: 7px;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      transition: all 0.5s ease; }
      .nav .nav-list .nav-list__item:hover {
        border-bottom: 2px solid var(--bl);
        transition: all 0.5s ease; }
      .nav .nav-list .nav-list__item:hover .nav-list__item-link {
        color: var(--w);
        transition: all 0.5s ease; }
      .nav .nav-list .nav-list__item .nav-list__item-link {
        font-size: 16px;
        color: var(--ft); }
    .nav .nav-list .nav-list__item.active {
      border-bottom: 2px solid var(--bl);
      transition: all 0.5s ease;
      color: var(--w); }
    .nav .nav-list .nav-list__item.active .nav-list__item-link {
      color: var(--w); }

/* FIRST */
.first {
  padding: 90px 0 90px;
  position: relative; }
  .first .first-bottom-elipse {
    position: absolute;
    background: rgba(120, 120, 120, 0.4);
    filter: blur(212px);
    bottom: -200px;
    left: -100px;
    width: 288px;
    height: 288px; }
  .first .hero {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .first .hero .hero-left {
      position: relative; }
      .first .hero .hero-left .hero-left-elipse {
        position: absolute;
        width: 204px;
        height: 204px;
        top: -50px;
        right: -50px;
        background: rgba(187, 110, 62, 0.2);
        filter: blur(95px); }
      .first .hero .hero-left .hero-left__img {
        border-radius: 14px;
        padding: 20px;
        background: linear-gradient(to bottom, #FFFFFF26, #FFFFFF15); }
    .first .hero .hero-right {
      width: 574px; }
      .first .hero .hero-right .hero-right-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px; }
        .first .hero .hero-right .hero-right-wrapper .hero-right-title {
          font-size: 66px;
          font-weight: 700;
          color: var(--w); }
        .first .hero .hero-right .hero-right-wrapper .hero-right-text {
          font-size: 16px;
          color: var(--ft); }
      .first .hero .hero-right .hero-right-inner {
        display: flex;
        margin-bottom: 76px; }
        .first .hero .hero-right .hero-right-inner .hero-right-inner-search {
          background: var(--w);
          padding: 20px;
          border-radius: 14px;
          width: 579px;
          display: flex;
          justify-content: space-between; }
          .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first-loc, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second-loc {
            padding: 10px;
            border: 1px solid var(--ft-2);
            border-radius: 50%; }
          .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second {
            display: flex;
            align-items: center;
            gap: 15px;
            transition: all 0.5s ease; }
            .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first:hover, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second:hover {
              opacity: 0.8;
              transition: all 0.5s ease; }
            .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .hero-right-inner-search__first-wrapper .hero-right-inner-search__first-wrapper-location, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .hero-right-inner-search__first-wrapper .hero-right-inner-search__second-wrapper-location, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .hero-right-inner-search__second-wrapper .hero-right-inner-search__first-wrapper-location, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .hero-right-inner-search__second-wrapper .hero-right-inner-search__second-wrapper-location, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .hero-right-inner-search__first-wrapper .hero-right-inner-search__first-wrapper-location, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .hero-right-inner-search__first-wrapper .hero-right-inner-search__second-wrapper-location, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .hero-right-inner-search__second-wrapper .hero-right-inner-search__first-wrapper-location, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .hero-right-inner-search__second-wrapper .hero-right-inner-search__second-wrapper-location {
              display: flex;
              flex-direction: column; }
            .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .select-first, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .select-second, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .select-first, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .select-second {
              position: relative; }
              .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .select-first::before, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .select-second::before, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .select-first::before, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .select-second::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                top: 5px;
                right: 0;
                border: 1px solid var(--ft);
                border-top: 1px solid transparent;
                border-right: 1px solid transparent;
                transform: rotate(-45deg);
                transition: all 0.5s; }
            .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .select-first.active::before, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .select-second.active::before, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .select-first.active::before, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .select-second.active::before {
              position: absolute;
              content: "";
              width: 6px;
              height: 6px;
              top: 10px;
              right: 0;
              border: 1px solid var(--ft);
              transition: all 0.5s ease;
              border-top: 1px solid transparent;
              border-right: 1px solid transparent;
              transform: rotate(-225deg); }
            .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .location-inp, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__first .location-inp-second, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .location-inp, .first .hero .hero-right .hero-right-inner .hero-right-inner-search .hero-right-inner-search__second .location-inp-second {
              width: 124px; }
      .first .hero .hero-right .hero-right-recognition {
        display: flex;
        width: 455px;
        justify-content: space-between;
        align-items: center; }
        .first .hero .hero-right .hero-right-recognition .hero-right-recognition__item .hero-right-recognition__item-title {
          font-size: 36px;
          font-weight: 600;
          color: var(--w); }
          .first .hero .hero-right .hero-right-recognition .hero-right-recognition__item .hero-right-recognition__item-title span {
            color: var(--ft-3); }
        .first .hero .hero-right .hero-right-recognition .hero-right-recognition__item .hero-right-recognition__item-text {
          color: var(--ft-g);
          font-size: 16px; }

/* SECOND */
.second {
  padding: 93px 0 139px;
  position: relative; }
  .second::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 326px;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("../img/bg.jpg") no-repeat center/cover; }
  .second .popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px; }
    .second .popular .popular-item {
      width: 370px; }
      .second .popular .popular-item .popular-item__img {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px; }
      .second .popular .popular-item .popular-item-inner {
        display: grid;
        gap: 20px;
        padding: 19px 26px 24px;
        background: var(--bg);
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        margin-top: -5px; }
        .second .popular .popular-item .popular-item-inner .popular-item-inner__location .popular-item-inner__location-link {
          color: var(--ft-2);
          font-size: 14px; }
          .second .popular .popular-item .popular-item-inner .popular-item-inner__location .popular-item-inner__location-link:hover {
            text-decoration: underline; }
        .second .popular .popular-item .popular-item-inner .popular-item-inner__apts {
          display: flex;
          align-items: center;
          gap: 27px; }
          .second .popular .popular-item .popular-item-inner .popular-item-inner__apts .popular-item-inner__apts-wrapper {
            display: flex;
            align-items: center;
            gap: 8px; }
            .second .popular .popular-item .popular-item-inner .popular-item-inner__apts .popular-item-inner__apts-wrapper .popular-item-inner__apts-wrapper-text {
              font-size: 14px;
              color: var(--ft); }
        .second .popular .popular-item .popular-item-inner .popular-item-inner__price {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .second .popular .popular-item .popular-item-inner .popular-item-inner__price .btn-popular {
            border-radius: 14px; }
            .second .popular .popular-item .popular-item-inner .popular-item-inner__price .btn-popular .btn-popular-book {
              background: var(--bg);
              color: var(--bl); }
              .second .popular .popular-item .popular-item-inner .popular-item-inner__price .btn-popular .btn-popular-book:hover {
                color: var(--w); }
          .second .popular .popular-item .popular-item-inner .popular-item-inner__price .popular-item-inner__price-text {
            color: var(--w);
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.02em; }
        .second .popular .popular-item .popular-item-inner .popular-item-inner__location-link {
          display: flex;
          align-items: center;
          gap: 8px; }

/* THIRD */
.third {
  padding: 140px 0 106px; }
  .third .services {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .third .services .services-left {
      position: relative; }
      .third .services .services-left .services-left-img {
        border-radius: 14px;
        padding: 20px;
        background: linear-gradient(to bottom, #FFFFFF26, #FFFFFF15); }
      .third .services .services-left .services-left-elipse {
        position: absolute;
        top: 30%;
        left: 0;
        width: 408px;
        height: 408px;
        background: rgba(11, 134, 83, 0.3);
        filter: blur(212px); }
    .third .services .services-right {
      width: 471px;
      display: grid;
      gap: 40px; }
      .third .services .services-right .section_services {
        display: grid;
        gap: 20px; }
        .third .services .services-right .section_services .section-inner-text {
          font-size: 16px;
          color: var(--ft); }
      .third .services .services-right .services-right__review {
        display: grid;
        grid-template-columns: 179px 179px;
        gap: 34px 28px; }
        .third .services .services-right .services-right__review .services-right__review-item {
          display: flex;
          gap: 8px;
          align-items: center; }
          .third .services .services-right .services-right__review .services-right__review-item .services-right__review-item__text {
            color: var(--w);
            font-size: 18px;
            font-weight: 500; }

/* FOURTH */
.fourth {
  padding: 60px 0;
  background: var(--bg-2); }

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .benefits .benefits-left {
    display: grid; }
    .benefits .benefits-left .benefits_section {
      display: grid;
      width: 471px;
      gap: 30px; }
      .benefits .benefits-left .benefits_section .benefits_section-text {
        font-size: 16px;
        color: var(--ft); }
    .benefits .benefits-left .benefits-left-wrapper {
      margin-top: 42px;
      display: grid;
      gap: 34px; }
      .benefits .benefits-left .benefits-left-wrapper .benefits-left-wrapper__item {
        display: flex;
        gap: 14px; }
        .benefits .benefits-left .benefits-left-wrapper .benefits-left-wrapper__item .benefits-left-wrapper__item-text {
          font-size: 18px;
          color: var(--w);
          font-weight: 500; }
  .benefits .benefits-right {
    position: relative; }
    .benefits .benefits-right .benefits-right-img {
      padding: 20px;
      background: linear-gradient(to bottom, #FFFFFF26, #FFFFFF15);
      border-radius: 284.5px 14px 14px 14px; }
    .benefits .benefits-right .benefits-right-reviews {
      position: absolute;
      padding: 30px;
      bottom: 53px;
      left: 49px;
      display: flex;
      width: 511px;
      align-items: center;
      justify-content: space-between;
      background: linear-gradient(125.01deg, rgba(0, 0, 0, 0.45) 29.4%, rgba(0, 0, 0, 0) 97.93%);
      filter: drop-shadow(10px 14px 74px rgba(2, 92, 138, 0.27));
      border-radius: 22px; }
      .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-wrapper {
        display: grid;
        gap: 16px; }
        .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-wrapper .benefits-right-reviews-wrapper-title {
          font-size: 34px;
          font-weight: 500;
          color: var(--w); }
        .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-wrapper .benefits-right-reviews-wrapper__inner {
          display: flex;
          align-items: center;
          gap: 7px; }
          .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-wrapper .benefits-right-reviews-wrapper__inner .benefits-right-reviews-wrapper__inner-stars {
            display: flex;
            align-items: center;
            gap: 11px; }
          .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-wrapper .benefits-right-reviews-wrapper__inner .benefits-right-reviews-wrapper__inner-text {
            font-size: 20px;
            font-weight: 500;
            color: var(--w); }
          .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-wrapper .benefits-right-reviews-wrapper__inner .benefits-right-reviews-wrapper__inner-quantity {
            color: var(--w);
            font-size: 16px;
            font-weight: 400; }
      .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-avatars {
        position: relative;
        width: 175px;
        height: 64px; }
        .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-avatars .benefits-right-reviews-avatars__img {
          position: absolute;
          width: 64px;
          border: 3px solid var(--w);
          border-radius: 50%;
          box-shadow: -9px 2px 24px -5px rgba(0, 0, 0, 0.38); }
          .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-avatars .benefits-right-reviews-avatars__img:nth-of-type(1) {
            left: 0; }
          .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-avatars .benefits-right-reviews-avatars__img:nth-of-type(2) {
            z-index: 1;
            right: 75px; }
          .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-avatars .benefits-right-reviews-avatars__img:nth-of-type(3) {
            z-index: 2;
            right: 35px; }
          .benefits .benefits-right .benefits-right-reviews .benefits-right-reviews-avatars .benefits-right-reviews-avatars__img:nth-of-type(4) {
            right: 0;
            z-index: 3; }

/* FIFTH */
.fifth {
  padding: 100px 0 70px; }

.new .new_section {
  max-width: 620px; }

.new-wrapper {
  position: relative;
  margin-top: 84px; }

.slick-slider .slick-list {
  overflow-x: hidden;
  display: flex; }
  .slick-slider .slick-list .slick-track {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 100%; }
    .slick-slider .slick-list .slick-track .new-wrapper__item {
      position: relative;
      border-radius: 20px;
      transition: all 0.5s ease; }
      .slick-slider .slick-list .slick-track .new-wrapper__item img {
        border-radius: 20px;
        transition: all 0.5s ease; }
    .slick-slider .slick-list .slick-track .new-wrapper__item.slick-slide {
      transition: all 0.5s ease; }
      .slick-slider .slick-list .slick-track .new-wrapper__item.slick-slide .new-wrapper__item-img {
        border-radius: 20px;
        transition: all 0.5s ease; }
    .slick-slider .slick-list .slick-track .new-wrapper__item.slick-slide.slick-current.slick-active {
      transition: all 0.5s ease; }
      .slick-slider .slick-list .slick-track .new-wrapper__item.slick-slide.slick-current.slick-active::before {
        content: "Editorial House";
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        font-size: 28px;
        color: var(--w); }
      .slick-slider .slick-list .slick-track .new-wrapper__item.slick-slide.slick-current.slick-active::after {
        content: "JL. Kencana oke. No2 universen";
        position: absolute;
        top: 55%;
        width: 100%;
        font-size: 16px;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--w); }
      .slick-slider .slick-list .slick-track .new-wrapper__item.slick-slide.slick-current.slick-active img {
        position: relative;
        height: 454px;
        width: 370px;
        border-radius: 20px;
        transition: all 0.5s ease; }

.slick-arrow.slick-prev {
  position: absolute;
  top: -120px;
  right: 220px;
  z-index: 1;
  border: 1px solid var(--ft);
  background: none;
  border-radius: 50%;
  padding: 27px 30px;
  transition: all 0.5s ease; }
  .slick-arrow.slick-prev::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 38%;
    left: 44%;
    border: 1px solid var(--w);
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    transform: rotate(45deg);
    transition: all 0.5s ease; }
  .slick-arrow.slick-prev:hover {
    background: var(--w);
    transition: all 0.5s ease; }
    .slick-arrow.slick-prev:hover::before {
      border: 1px solid var(--b);
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      width: 12px;
      height: 12px;
      transition: all 0.5s ease; }

.slick-arrow.slick-next {
  position: absolute;
  top: -120px;
  right: 135px;
  z-index: 1;
  border: 1px solid var(--ft);
  background: none;
  border-radius: 50%;
  padding: 27px 30px;
  transition: all 0.5s ease; }
  .slick-arrow.slick-next::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 38%;
    left: 36%;
    border: 1px solid var(--w);
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    transform: rotate(225deg);
    transition: all 0.5s ease; }
  .slick-arrow.slick-next:hover {
    background: var(--w);
    transition: all 0.5s ease; }
    .slick-arrow.slick-next:hover::before {
      border: 1px solid var(--b);
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      width: 12px;
      height: 12px;
      transition: all 0.5s ease; }

.slick-arrow.slick-disabled {
  opacity: 0.2;
  transition: all 0.5s ease;
  border: 1px solid var(--b); }

/*# sourceMappingURL=main.css.map */
